#H2 {
    color: black;
    text-align: center
    
    
}

#Pios {
    color: crimson;
    text-align: center;
    padding: 2px;
    border: 2px dashed blue;
    
    
}

#Apple {
    color: white;
    background-color: black;
    text-align: left;
    padding: 6px;
    border: 4px dashed red;
    border-radius: 100px;
    
    
}

#Color {
    color: #ffcc00;
    background-color: gray;
    text-align: center;
    padding: 2px;
    border: 4px dashed aqua;
    border-radius: 100px;
    
}

a:link {
    color: blue
}

a:visited {
   color: green;
}

a:hover {
    color: orange;
}

a:active {
    color: hotpink;
}

